.post-external-img {
    width: 100%;
}

.article-title {
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 4rem;
    @include mobile {
        font-size: 2.2rem; 
    }
    h2, h3, h4, h5, h6 {
        font-weight: 800;
    }

}

a {
    color: #1e3a8a;
    font-weight: 700;
}

.videoplayer {
    width: 100%;
}